{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{%static 'response.js'%}"></script>
</head>
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
        {% if username %}
            <li class="nav-item"> <a href = "/auth/logout/"> Выйти {{ username }} </a></li>

        {% else %}
            <li class="nav-item"><a href="/auth/login/">Войти</a></li>
        {% endif %}
  </ul>

</nav>


</nav>
<body>
    {% block AllVideos %}{% endblock %}
    {% block OneVideo %}{% endblock %}
    {% block Login %}{% endblock %}
</body>
</html>